<!-- ======= Footer ======= -->
<div class="container-fluid">
	<footer class="site-footer">
		<div id='footer' class='row align-items-center justify-content-between p-3'>
			<div class="col-md-3 text-center">
				<img class='img-fluid' src="{{asset('assets/images/facebook.svg')}}" alt="Logo" width="30px">
				<img class='img-fluid' src="{{asset('assets/images/instagram.svg')}}" alt="Logo" width="30px">
				<img class='img-fluid' src="{{asset('assets/images/snap.svg')}}" alt="Logo" width="30px">
			</div>
			<div class="col-md-3 text-center">
				<strong>CGV</strong>
				|
				<strong>Mentions légales</strong>
				<br>
				Copyright Bob&Tintin | DWWM@2024</div>
			<div class="col-md-3 text-center pr-3"><img id='logonav' src="{{asset('assets/images/up.png')}}" alt="Logo" width="50px"></div>

		</div>

	</footer>
</div>
<!-- End Footer -->